{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
        <!-- loop through the database entries to display them in this table -->
            {% for i in index %}
                <tr>
                    <td class="text-start"> {{ i.symbol }} </td>
                    <td class="text-end"> {{ i.shares }} </td>
                    <!-- weird syntax is to format price and total to have only 2 numbers on decimal -->
                    <td class="text-end"> {{ "$%.2f"|format(i.price) }} </td>
                    <td class="text-end"> {{ "$%.2f"|format(i.price * i.shares) }} </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end"> {{ "$%.2f"|format(usercash) }} </td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end"> {{ "$%.2f"|format(usercash + total) }} </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
